celerybeat-schedule.db
db
deploy
.DS_Store
smartmin
sitestatic
config/settings.py
*.pyc
*~
*.class
env/
android/.idea/
android/out/
cloudwich/settings.py
cloudwich.db
android/gen
android/bin
deploy
config/gen
cache