html {
    background: #EFEEE4;
}

body {
    font-family: {font:Body};
    background: #EFEEE4;
    margin: 0;
    padding: 0;
}

#doc870 { 
    margin: auto;
    text-align: left;
    width: 67.92em;
    *width: 67.26em;
    min-width: 870px;
}

.box {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-radius: 5px;
    background:#DEDED2 none repeat scroll 0 0;
    border-bottom:2px solid #D1D0C2;
    border-right:2px solid #D1D0C2;
    color:#7E7D6D;
    font-size:12px;
    line-height:18px;
    padding:10px;
    position:relative;
    text-align:justify;
}

#col1 .box {
    width:606px;
}

#col2 .box {
    width:220px;
}

#header {
    margin-top: 10px;
}

#header .box {
    width:606px;
}

#footer {
    margin-top: 30px;
}

#footer .box {
    width:606px;
}

.space {
    margin-top: 10px;
}

.small_space {
    margin-top: 5px;
}

.album_thumb img {
    border: 1px solid #bebdab;
    background: #f2f2ea;
    padding: 15px;
}

a:active,a:focus,input { 
    outline-width: 0; 
}

.caps {
    text-transform:uppercase;
}

.blue {
    background:#5082B4 none repeat scroll 0 0;
    text-transform:uppercase;
}

.red {
    background: #b45050;
    text-transform:uppercase;
}

.purple {
    background: #5050B4;
    text-transform:uppercase;
}

.green {
    background: #50B482;
    text-transform:uppercase;
}

.brown {
    background: #BCBBAA;
}

.bar {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    color:#F1F1F1;
    display:block;
    font-size:11px;
    line-height:18px;
    min-height:18px;
    min-width:200px;
    padding:3px 10px;
    text-decoration:none;
}

.small {
    font-family:Helvetica;
    font-size:10px;
    line-height: normal;
    min-height: 0px;
    padding: 5px 10px 3px 10px;
}

.post_title a {
    text-decoration: none;
    color:#7E7D6D;
}

.post_body a, .post_link {
    color: #7E7D6D;
    background: #F0EFBF;
    text-decoration: none;
}

.post_body img {
  border: 1px solid #bebdab;
  background: #f2f2ea;
  padding: 5px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.post_body blockquote {
  background-image: url('/site_media/quote.png');
  background-repeat: no-repeat;
  background-position: left center;
  margin: 0px 0px 0px 0px;
  margin-bottom: .5em;
  margin-left: 0px;
  padding-left: 40px;
  padding-right: 30px;
  min-height: 44px;
  font-style: italic;
}

p {
  margin-bottom: .5em;
}

.post_link {
  position: relative;
  top: -7px;
}

h1 {
    margin-top: 0;
    margin-bottom: .5em;
}

h2 {
    font-size: 18px;
    margin: 2px 0 10px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}


a img { 
    border-width: 0; 
}

.media a {
    padding: 0px;
}
	  
.clear {
    clear: both;
}

.album {
}

.photos {
  width: 700px;
  padding-top: 10px;
  clear: both;
}

.photos img {
  border: 1px solid #bebdab;
  background: #f2f2ea;
  padding: 5px;
  margin-right: 6px;
}

.albums {
  width: 700px;
}

.albums img {
  border: 1px solid #bebdab;
  background: #f2f2ea;
  padding: 2px;
  margin-right: 3px;
}

.photo img {
  border: 1px solid #bebdab;
  background: #fffffa;
  padding: 20px;
  margin-top: 15px;
}

.albumHeader {
}

.albumThumb {
  border: 1px solid #bebdab;
  background: #f2f2ea;
  padding: 15px;
  float: left;
  width: 160px;
}

.albumInfo {
  position: relative;
  padding-left: 5px;
  float: left;
  width: 400px;
}

.albumDate {
  color: #FFFFFF;
  font-size: 10px;
  font-family: Helvetica;
  line-height: normal;
  background: #BCBBAA;
  margin: 15px 0 0 0;
  padding: 3px 8px 4px 8px;
  display: block;
  overflow: hidden;
  bottom: 0;
  position: relative;
  float: right;
}

.status_ago {
  text-align: right;
  font-style: italic;
  font-size: 75%;
  padding-bottom: 5px;
}

/** disqus stylings */

#dsq-comments-title {
  display: none;
}

.dsq-options {
  display: none;
}

#disqus_thread {
  margin-top: 10px;
}

.dsq-dc-logo {
  display: none;
}


