<div class="space box post post_type_{{ post.type }}">
  {{ post.url }}
  {% if post.player %}
  <div class="post_media">
    {{ post.player|safe }}
  </div>
  {% endif %}
  {% if post.title %}
  <h2 class="post_title"><a href="/post/{{ post.id }}/{{ post.title|urlencode }}">{{ post.title }}</a></h2>
  {% endif %}
  {% if post.link %}
  <a class="post_link" href="{{ post.link }}">{{ post.link }}</a>
  {% endif %}
  <div class="post_body">
    {{ post.body|safe }}
  </div>
  <a class="clear bar brown small" href="/post/{{ post.id }}/{{ post.title|urlencode }}">
    <div class="left">{{ post.date|date:"F j, Y, P" }}</div>
    <div class="text-right">
      {% if post.comment_count %}
      {{ post.comment_count }} comment{{ post.comment_count|pluralize }}
      {% else %}
      &nbsp;
      {% endif %}
    </div>
  </a>
</div>
