{% extends "layout.html" %}

{% load markup %}

{% block header %}
<div class="box">
  <a class="blue bar" href="/albums">albums</a>
</div>
{% endblock %}

{% block col1 %}
<div class="space box">
  <div class="albumHeader">
    <div class="albumThumb"><img src="{{album.thumb}}" border="0"/></div>
    <div class="albumInfo">
      <div class="albumTitle"><h1>{{album.title}}</h1></div>
      <div class="albumDescription">{{album.description|markdown|safe}}</div>
    </div>
    <div class="albumDate">{{album.date|date:"F j, Y"}}</div>
  </div>

  <div class="photos">
    {% for photo in album.photos %}<a href="/photo/{{ album.id }}/{{ photo.id }}"><img border="0" src="{{photo.thumb}}" /></a></span>{% endfor %}
  </div>
</div>
{% endblock %}
