{% extends "layout.html" %}

{% block col1 %}
<div class="posts">
  {% for post in posts|slice:":10" %}
  {% include 'includes/post.html' %}
  {% endfor %}
</div>
{% endblock %}

{% block col2 %}
  <div class="box space nav">
      <a class="green bar" href="/albums">albums</a>
      <div class="small_space"><a class="purple bar" href="/posts">posts</a></div>
  </div>

  <div class="box space facebook">
    {% for status in statuses|slice:":4" %}
    <div class="status">{{status.status}}</div>
    <div class="status_ago">{{status.date|timesince}} ago</div>
    {% endfor %}

    <a class="brown bar" href="http://www.facebook.com/nicpottier">Facebook</a>
  </div>

  {% for album in albums|slice:":4" %}
  <div class="box space album_tease">
    <div class="album_thumb">
      <a href="/album/{{album.id}}"><img border="0" src="{{ album.thumb }}" /></a>
    </div>
    <a class="brown bar" href="/album/{{album.id}}">{{ album.title }}</a>
  </div>
  {% endfor %}
{% endblock %}
