<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css&2.8.0r4/build/base/base-min.css">
<link rel="stylesheet" href="/site_media/style.css">
<title>{% block title %}{% endblock %}</title>
<script>
var disqus_developer = 1;
</script>

</head>

<body>


<div id="doc2">
  <div id="hd">
  {% block header %}{% endblock %}
  </div>
  <div id="bd">
    <div id="container">
    {% block content %}{% endblock %}
    <div class="clear"></div>
      <div class="footer">
        <a href="/about">About</a>
      </div>
    </div>
  </div>
  <div id="ft">
  </div>
</div>

</body>

</html>
