<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
<link rel="stylesheet" type="text/css" href="/site_media/yui2.css">
<link rel="stylesheet" type="text/css" href="/site_media/style.css">
<title>{% block title %}{% endblock %}</title>
<script>
var disqus_developer = 1;
</script>

</head>

<body>


<div id="doc870" class="yui-t5">
  <div id="hd">
    <div id="header">
      {% block header %}
      <div class="box">
	<a class="blue bar" href="/">pottier.com</a>
      </div>
      {% endblock %}
    </div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
	<div id="col1">
	  {% block col1 %}{% endblock %}
	</div>
      </div>
    </div>
    <div class="yui-b">
      <div id="col2">
	{% block col2 %}
	<div class="space box">
	  <a class="red bar" href="/">home</a>
	  <a class="small_space blue bar" href="/posts">posts</a>
	  <a class="small_space green bar" href="/albums">albums</a>
	</div>
      {% endblock %}
      </div>
    </div>
  </div>
  <div id="ft">
    <div id="footer">
      {% block footer %}
      <a class="brown bar caps" href="/about"><div class="right">about</div></a>
      {% endblock %}
    </div>
  </div>
</div>

</body>

</html>
