{% extends "layout.html" %}

{% block header %}
<div class="box">
  <a class="blue bar" href="/posts">posts</a>
</div>
{% endblock %}

{% block col1 %}
{% include "includes/post.html" %}

<div id="disqus_thread"></div>
<script type="text/javascript">
disqus_url = "{{ post.url }}";
</script>
<script type="text/javascript" src="http://disqus.com/forums/{{ disqus_forum }}/embed.js"></script><noscript><a href="http://disqus.com/forums/{{ disqus_forum }}/?url=ref">View the discussion thread.</a></noscript>
 {% endblock %}


